








.card:hover{
  cursor: pointer;
}

.card:hover .card-text{


   transform: translateX(0%);
   

}

.card-text{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(243, 234, 234, 0.8);
  padding: 1rem;
  transform: translateX(100%);
  z-index: 1;
  transition: transform 0.7s ease-in-out;
  text-align: left;


}


.form-image {
  min-width: 800px;
  min-height: 800px;
}

.register-form {
  flex: 1;
  background-color: #eeeeee;
  color: #000000;
  padding: 5rem;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-label {
  padding-left: 1.5rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
  margin: 20px;
}

.btn-primary {
  margin-left: 1.5rem;
}

.link {
  color: #0b5ed7;
  text-decoration: underline;
  margin-left: 1.5rem;
  cursor: pointer;
}
